.portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio_body {
    width: 80%;
    height: 70%;
    background-image: url('../../assets/images/background2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1_portfolio {
    display: flex;
    justify-content: center;
    font-family: 'Exo';
    cursor: context-menu;
    color: goldenrod;
}

.button_portfolio {
    position: absolute;
    margin-left: 70%;
    margin-top: 1rem;
    border: none;
    border-radius: .3rem;
    padding: 0 .5rem;
    font-family: 'Exo';
    font-weight: 700;
}

.button_portfolio:hover {
    color: goldenrod;
    cursor: pointer;
}

.div_span {
    padding: 2rem;    
}

.div_span h3 {
    text-align: center;
    color: goldenrod;
}

.div_span span {
     text-align: start; 
     color: #fff;
}

@media (max-width: 375px) {
    .portfolio_body {
        height: 80%;
    }

    .trabalho {
        display: none;
    }

    .h1_portfolio {
        margin-top: 2rem;
    }
    .button_portfolio {
        margin-top: 0;
        margin-right: 8%;
    }
}

@media (max-width: 667px) {
    .trabalho {
        display: none;
    }

    .div_span {
        margin-top: 0;
        padding: 0;
    }

    .button_portfolio {
        margin-top: .5rem;
    }

    .h1_portfolio h1 {
        margin-top: 0;
        padding: 0;
    }
    
    .div_span h3 {
        margin-top: 0;
    }
}

@media (max-width: 414px) {
    .button_portfolio {
        margin-left: 60%;
    }
}

@media (max-width: 896px) {
    .trabalho {
        display: none;
    }

    .div_span {
        margin-top: 0;
        padding: 0 .3rem;
    }
}

@media (max-width: 915px) {
    .trabalho {
        display: none;
    }

    .div_span {
        margin-top: 0;
        padding: 0 .3rem;
    }
}

@media (max-width: 1024px) {
    .div_span {
        padding: 0 .5rem;
    }
}

@media (max-width: 812px) {
    .div_span {
        margin-top: 0;
        padding: 0 .5rem;
    }

    .div_span h3 {
        margin-top: 0;
    }

    .h1_portfolio h1 {
        margin-top: 0;
        padding: 0;
    }
}

@media (max-width: 844px) {
    .div_span {
        padding: 0;
    }
}

@media (max-width: 851px) {
    .div_span {
        padding: 0;
    }
}

@media (max-width: 740px) {
    .div_span h3 {
        margin-top: 0;
    }
}

@media (max-width: 540px) {
    .h1_portfolio h1 {
        margin-top: 4rem;
    }

    .button_portfolio {
        margin-top: .5rem;
        margin-right: .5rem;
    }
}

@media (max-width: 375px) {
    .button_portfolio {
        margin-right: 10%;
    }
}